.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.task {
  display: flex;
  justify-content: space-between;
  width: 300px;
  background-color: rgb(183, 183, 249);
  padding: 5px;
  font-size: 11px;
}

.task svg {
  font-size: 16px;
}

.task h3 {
  margin: 0;
  padding: 0;
}

.list-tasks {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.ajout {
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 10px;

}

fieldset legend {
  text-align: center;
  padding: 2px 20px;
  background-color: rgb(8, 132, 90);
  color: white;
}

.ajout button {
  background-color: rgb(7, 7, 77);
  color: white;
  display: flex;
  gap: 20px;
  padding-left: 30px;
}

.ajout button:hover {
  opacity: 0.7;
}

.ajout input {
  padding: 5px;
}

.content {
  display: flex;
  gap: 20px;
  font-size: 11px;
  border: 1px solid #000;
  padding: 30px;
  border-radius: 10px;
}

.info {
  background-color: brown;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  gap: 20px;
}

.info svg {
  font-size: 40px;
  color: antiquewhite;
}

.supression {
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 10px;
}

.supression button {
  background-color: rgb(7, 7, 77);
  color: white;
  display: flex;
  gap: 20px;
  padding-left: 30px;
}

.supression button:hover {
  opacity: 0.7;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modification {
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 10px;
}

.modification button {
  background-color: rgb(7, 7, 77);
  color: white;
  display: flex;
  gap: 20px;
  padding-left: 30px;
}

.modification button:hover {
  opacity: 0.7;
}

.actionstask {
  display: flex;
  gap: 2px;
}

.actionstask button {
  background-color: rgb(62, 20, 100);
  color: whitesmoke;
  border: none;
}
.actionstask button svg {
  font-size: 17px;
}